body {
    background: #e6e6e6;
}

.content {
    width: 800px;
    height: 500px;
    display: block;
    margin: auto;
    border: 2px solid #ccc;
    background: #fff7bc;
    position: relative;
}

#circle {
    display: block;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100px;
    height: 100px;
    border: 2px dashed #cc6a6a;
    border-radius: 100px;
    transform: rotate(0deg);
}

.control-panel {
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 1000;
}

.detector {
    position: absolute;
    left: 50px;
    bottom: 50px;
}